#P1 {
  height: 450px;
  width: 340px;
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

#P1 form {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

#P1 input[type=textfield] {
  height: 25%;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px;
  text-align: right;
  font-size: 50px;
  border: 0;
  outline: none;
  margin: 0 auto;
  border-radius: 10px;
  
}

#P1 input[type=button], input[type=reset] {
  width: 22%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  padding: 18px;
  margin: 3px;
  border: 0;
  border-radius: 100%;
  text-align: center;
}

#P1 .orange {
  background-color: rgb(255, 187, 0);
  color: white !important;
}

#P1 .gray {
  background-color: rgba(120, 119, 118, 0.5);
  color: white !important;
}

.buttons {
  text-align: center;
  padding: 5px
}

hr {
  width: 10%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(216, 0, 0);
}